@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* Primary */

    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);

    /* Neutral */
    --dark-gray: hsl(0, 0%, 59%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--dark-cyan);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: right 48vw bottom 40vh, left 45vw top 44vh;
}

.container {
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    margin: 30px;
}

.content img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    border: 4px solid #fff;
    margin-top: -53px;
    margin-bottom: 15px;
}

h1 {
    font-size: 18px;
    font-weight: 700;
    color: var(--very-dark-desaturated-blue);
}

span#user-age {
    color: var(--dark-gray);
    margin-left: 10px;
    font-size: 17px;
}

p#user-location {
    margin-top: 8px;
    color: var(--dark-grayish-blue);
    font-size: 14px;
}

hr {
    border: 0.3px solid hsla(229, 23%, 23%, 0.2);
    margin-top: 15px;

}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    margin: 23px 0;
}

.footer .count {
    font-size: 18px;
    font-weight: 700;
    color: var(--very-dark-desaturated-blue);
}

.footer p {
    color: var(--dark-grayish-blue);
    font-size: 14px;
    margin-top: 5px;
}